{% extends "base.html" %}

{% block article %}

      {# breadcrumb #}
      <div class="ui breadcrumb">
        <a class="section" href="{{ url_for("index") }}">Home</a>
        <div class="divider"> / </div>
        <a class="section" href="{{ url_for("allposts") }}">Posts</a>
      </div>

        
      {# search #}

      <form class="ui form" action="{{ url_for("search")}}" method="post">
        <div class="ui fluid icon input" id="post_search">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="text" name="user_search" placeholder="Search Shiba Inu posts" autofocus>
          <i class="search icon"></i>
        </div>
      </form>

      {% for entry in entries %}
      
          <h1 class="ui header index"><a class="ui header index_header_links" href="{{ url_for("show_post", url = entry.url )}}">{{ entry.title|safe }}</a></h1>
            <p></p> 
            <div class="ui accordion">
              <div class="title">
                <i class="dropdown icon"></i>
                {{ entry.lead| safe }}
              </div>
              <div class="content">
                <p class="transition visible" style="display: block !important;">{{ entry.body|striptags|truncate(980,True)}}
              </div>
            </div><!-- end of accordion -->
            <hr>
            
            {# чтобы обрезало пост автоматически с многоточием
            {{ entry.body|striptags|truncate(980,True)}}
                <a href="{{ url_for("show_post", url = url_test) }}" class="ui button">Read more</a>#}
                
          
    {% endfor %}
    
    
    {# experiment! #}
    <div class="ui dropdown">
      <input type="hidden" name="gender">
          <i class="dropdown icon"></i>
            <div class="default text">Gender</div>
              <div class="menu">
                <div class="item" data-value="male">Male</div>
                <div class="item" data-value="female">Female</div>
              </div>
    </div>
    
{% endblock %}
